@import "config";

// No-js fallback for mobile only
// Add "nav-no-js" class to <html>

.#{$nav-no-js} {
  .nav-close {
    position: fixed;
    top: 0;
    right: 4.0rem;
    width: 2.4rem;
    height: $header-line-height;
    z-index: $header-z-index + 1;
    font-size: 1.9rem;
    line-height: $header-line-height;
    text-align: center;
    text-decoration: none;
    background: $header-bg-color;
    color: $nav-link-color;

    // Close Button Icon (See "_icon-font.scss")
    &:before {
      @extend %icon;
      content: icon-char(menu-close);
    }
  }
}